body {
    margin: 0px;
    text-align: center;
}

.wrapper { 
    display: flex;
    flex-direction: column;
    align-content: center;
}

#navbar {
    height:100px;
    width: 100vw;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #bf9bebc5;
    transition: .4s;
}

#navbar img {
    height: 70px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
    padding: 50px;
}

.panels {
    height: 50vh;
    width: 50vh;
    margin: 60px;
    border : 3px solid #800080;
    background-color: #bf9bebc5;
}

/* color swatches */
.dkgn {
    background-color:#499E61; 
    height:50px;
}
.ltpl {
    background-color:#BF9BEB;
    height:50px;
}
.ltgn {
    background-color:#83EBA1;
    height:50px;
}
.tn {
    background-color:#EBB66C;
    height:50px;
}
.brn {
    background-color: #9E7E51;
    height:50px;
}



footer {
    height: auto;
    background-color: #bf9bebc5;
}