@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins");

body {
    font-family: Poppins, sans-serif;
    margin: 0px;
    text-align: center;
}

.wrapper { 
    display: flex;
    flex-direction: column;
    align-content: center;
}

#navbar {
    display: flex;
    flex-direction: column;
    height:auto;
    width: 100vw;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #bf9bebc5;
    transition: .4s;
}

#navbar img {
    height: 150px;
    position: absolute;
    left: 20px;
    top: 120px;
    transition: .4s;
}

#nav-text h1{
    font-family: 'Abril Fatface', serif;
    font-size: 7em;
    transition: .4s;
}

#nav-text h2 {
    transition: .4s;
}

.main-content {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 90vw;
    padding: 70px;
}

.panels {
    min-height: 50vh;
    width: 50vh;
    margin: 60px;
    border : 3px solid #800080;
    background-color: #bf9bebc5;
}

/* override styles for aligning boxes */
.left-panel {
    margin-left: 100px;
    margin-right: 20px;
}
.right-panel {
    margin-right: 100px;
    margin-right: 0px;
}

/* panel with the input box */
#task-input-things {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    margin: 30px;
    min-height: 3em;
    max-width:50vw;
    overflow-wrap: wrap;
}

/* elements in the input box */
#task-input-things label {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
/* Panel 4 */
.outsidebutton{
    background-color: #800080;
    color:white;
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    text-align: center;
}

.outsidebutton:hover{
opacity:1;
}

/* Button and Input (Panel 1)*/
#task1{
padding: 6px 12px;
font-family: Poppins, sans-serif;
}

/* Panel 2 */
#flowerImage
{
    height: 40vh;
    width: 20vh;
    padding-top: 100px;
}

#inputtask
{
    font-family: Poppins, sans-serif;
    background-color: #800080; 
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 3px;
}

#inputtask:hover{
  font-family: Poppins, sans-serif;
  background-color: #773577; 
 }

.waterimage {
    width: 70px;
    height: 70px;
  }

#colors {
    height: 60vh;
}

/* color swatches */
.color-swatches {
    min-height:55px;
    transition: .4s;
}
#dkgn {
    background-color:#499E61; 
}
#ltpl {
    background-color:#BF9BEB;
}
#ltgn {
    background-color:#83EBA1;
}
#tn {
    background-color:#EBB66C;
}
#brn {
    background-color: #9E7E51;
}


/* image carousel for flowers */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* Resources page */
  li{
    font-size: 18px;
    font-family: Poppins, sans-serif;
  }

footer {
    height: auto;
    background-color: #bf9bebc5;
}